asgiref==3.11.1
attrs==26.1.0
diff-match-patch==20241021
Django==6.0.5
django-extensions==4.1
django-filter==25.2
django-import-export==4.4.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pillow==12.2.0
PyJWT==2.12.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
uritemplate==4.2.0
